body.light {
  --table-head-background-color: var(--background-color-03);
  --table-row-background-color: var(--background-color-02);
  --table-body-background-color-on-hover: var(--background-color-04);
  --table-color: var(--body-color);
}

body.dark {
  --table-head-background-color: var(--background-color-03);
  --table-row-background-color: var(--background-color-02);
  --table-body-background-color-on-hover: var(--background-color-04);
  --table-color: var(--body-color);
}

.table {
  display: grid;
  grid-template-columns: 1fr;

  & .table-data {
    padding: 1rem 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--table-color);
    font-size: 1.5rem;
  }

  & .table-header {
    padding: 1rem 0;
    background-color: var(--table-head-background-color);
  }

  & .table-row {
    position: relative;
    display: grid;
    background-color: var(--table-row-background-color);
    border-bottom: 1px solid var(--border-color);
  }

  & .table-row-actions {
    display: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    background-color: var(--table-row-background-color);
    padding: 0;

    & .iconify.delete:hover {
      color: red;
    }
  }

  & .table-row:hover .table-row-actions {
    display: inline;
  }
}
