body.light {
  --primary-color: #078eed;
  --secondary-color: #f57173;
  --white-color: #fff;
  --black-color: #222;
  --text-color-01: #1e1e1e;
  --text-color-02: #3b3b3b;
  --text-color-03: #555555;
  --text-color-04: #767676;
  --text-color-05: #d8d8d8;
  --text-color-06: #eeeeee;
  --background-color-01: #ffffff;
  --background-color-02: #fffffc;
  --background-color-03: #fafafa;
  --background-color-04: #eeeeee;
  --background-color-05: #e5e5e5;
  --box-shadow-01: 0 2px 5px 0 rgba(74, 74, 74, 0.2);
  --box-shadow-02: 0 0 5px 2px rgba(74, 74, 74, 0.2);
  --border-color: #dfe1e5;
  --icon-color: var(--text-color-03);
  --pre-load-background: linear-gradient(270deg, var(--background-color-05), var(--background-color-04), var(--background-color-03));
  --box-shadow-01: 0 2px 5px 0 rgba(74, 74, 74, 0.2);
  --box-shadow-02: 0 0 5px 2px rgba(74, 74, 74, 0.2);

  --body-color: var(--text-color-03);
  --body-background-color: var(--background-color-01);
  --navbar-background-color: var(--background-color-01);
  --navbar-box-shadow: var(--box-shadow-01);
  --navbar-logo-text-color: var(--text-color-03);
  --navbar-logo-text-color-on-hover: var(--primary-color);
  --footer-color: var(--text-color-03);
  --footer-background-color: var(--background-color-03);
  --current-char-to-type-color: var(--white-color);
  --current-char-to-type-background-color: var(--black-color);
  --ok-typed-char-color: var(--text-color-05);
  --nok-typed-char-color: #e06c75;
  --whitespace-color: rgb(221, 221, 221);
  --typed-text-stat-value-color: var(--text-color-03);
  --typed-text-stat-container-border-color: var(--secondary-color);
  --switch-on-color: #065fd4;
  --dialog-box-shadow: var(--box-shadow-01);
  --slider-color: var(--primary-color);
  --slider-background-color: var(--border-color);
  --check-progress-link-icon-color-on-hover: var(--secondary-color);
  --close-color: #f1505e;
  --dialog-background-color: var(--background-color-02);
  --dialog-backdrop-background-color: var(--background-color-01);
  --select-options-background-color: var(--background-color-02);
  --select-option-background-color-on-hover: var(--background-color-03);
  --select-options-box-shadow: var(--box-shadow-01);
  --text-to-type-reference-color: var(--primary-color);
  --input-color: var(--body-color);
  --input-background-color: var(--background-color-03);
  --input-border-color: var(--border-color);
  --input-border-color-on-active: var(--primary-color);
  --error-message-color: #f1505e;
  --change-text-to-type-icon-color-on-hover: var(--white-color);
  --change-text-to-type-icon-background-color-on-hover: var(--secondary-color);
}

body.dark {
  --primary-color: #078eed;
  --secondary-color: #f57173;
  --white-color: #fff;
  --black-color: #222;
  --text-color-01: #fafafa;
  --text-color-02: #eeeeee;
  --text-color-03: #cecece;
  --text-color-04: #b1b1b1;
  --text-color-05: #a0a0a0;
  --text-color-06: #747070;
  --background-color-01: #181a1f;
  --background-color-02: #21252b;
  --background-color-03: #282c34;
  --background-color-04: #2c313a;
  --background-color-05: #353b46;
  --box-shadow-01: 0 -2px 5px rgba(0, 0, 0, 1);
  --box-shadow-02: 0 -2px 10px rgba(0, 0, 0, 1);
  --border-color: #353b46;
  --icon-color: var(--text-color-03);
  --pre-load-background: linear-gradient(270deg, var(--background-color-05), var(--background-color-04), var(--background-color-03));
  --box-shadow-01: 0 -2px 5px rgba(0, 0, 0, 1);
  --box-shadow-02: 0 -2px 10px rgba(0, 0, 0, 1);

  --body-color: var(--text-color-03);
  --body-background-color: var(--background-color-01);
  --navbar-background-color: var(--background-color-01);
  --navbar-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  --navbar-logo-text-color: var(--text-color-03);
  --navbar-logo-text-color-on-hover: var(--primary-color);
  --footer-color: var(--text-color-03);
  --footer-background-color: var(--background-color-03);
  --current-char-to-type-color: var(--black-color);
  --current-char-to-type-background-color: var(--white-color);
  --ok-typed-char-color: var(--text-color-06);
  --nok-typed-char-color: #e06c75;
  --whitespace-color: #4e4e4e;
  --typed-text-stat-value-color: var(--text-color-03);
  --typed-text-stat-container-border-color: var(--secondary-color);
  --switch-on-color: #1378fd;
  --dialog-box-shadow: var(--box-shadow-01);
  --dialog-background-color: var(--background-color-01);
  --slider-color: var(--secondary-color);
  --slider-background-color: var(--border-color);
  --check-progress-link-icon-color-on-hover: var(--secondary-color);
  --close-color: #f1505e;
  --dialog-background-color: var(--background-color-02);
  --dialog-backdrop-background-color: var(--background-color-01);
  --select-options-background-color: var(--background-color-02);
  --select-option-background-color-on-hover: var(--background-color-03);
  --select-options-box-shadow: var(--box-shadow-01);
  --text-to-type-reference-color: var(--primary-color);
  --input-color: var(--body-color);
  --input-background-color: var(--background-color-03);
  --input-border-color: var(--border-color);
  --input-border-color-on-active: var(--primary-color);
  --error-message-color: #f1505e;
  --change-text-to-type-icon-color-on-hover: var(--white-color);
  --change-text-to-type-icon-background-color-on-hover: var(--secondary-color);
}
