:root {
  --transition: all 0.15s ease-in-out;
  --border-radius: 0.3rem;
  --main-max-width: 2000px;
  --navbar-height: 6.5rem;

  @media screen and (max-width: 426px) {
    --font-size: 45%;
    --main-width: 90%;
    --footer-margin-top: 4rem;
    --footer-padding: 2rem 3rem;
    --footer-icon-font-size: 2rem;
  }

  @media screen and (min-width: 427px) and (max-width: 768px) {
    --font-size: 52%;
    --main-width: 85%;
    --footer-margin-top: 6rem;
    --footer-padding: 2.5rem 5rem;
    --footer-icon-font-size: 2rem;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    --font-size: 58%;
    --main-width: 80%;
    --footer-margin-top: 12rem;
    --footer-padding: 3rem 8rem;
    --footer-icon-font-size: 2.5rem;
  }

  @media screen and (min-width: 1025px) and (max-width: 1920px) {
    --font-size: 62.5%;
    --main-width: 80%;
    --footer-margin-top: 12rem;
    --footer-padding: 3rem 8rem;
    --footer-icon-font-size: 2.5rem;
  }

  @media screen and (min-width: 1921px) {
    --font-size: 62.5%;
    --main-width: 80%;
    --footer-margin-top: 16rem;
    --footer-padding: 3rem 8rem;
    --footer-icon-font-size: 2.5rem;
  }
}
