body.light {
  & select {
    background-image: url('../../../assets/select-arrow-light.svg?encoding=base64');
  }
}
body.dark {
  & select {
    background-image: url('../../../assets/select-arrow-dark.svg?encoding=base64');
  }
}
select {
  font-family: inherit;
  cursor: pointer;
  width: 100%;
  padding: 0.75rem 1.2rem;
  border-radius: 0.3rem;
  border: 2px solid transparent;
  appearance: none;
  color: var(--body-color);
  background-color: var(--select-background-color);
  background-position: calc(100% - 0.7rem);
  background-repeat: no-repeat;
  font-size: 1.5rem;

  &:hover {
    background-color: var(--select-background-color-on-hover);
  }

  & option {
    padding: 0.75rem 1.2rem;
    cursor: pointer;

    &:hover {
      background-color: var(--select-option-background-color-on-hover);
    }
  }
}
