.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & .input {
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    color: var(--input-color);
    background-color: var(--input-background-color);
    width: var(--input-width);
    border-bottom: 2px solid var(--input-border-color);
    transition: var(--transition);
    transition-property: color, background-color, border-color;

    &:focus,
    &:hover {
      border-color: var(--input-border-color-on-active);
    }
  }

  & .input-error-message {
    display: none;
  }

  &.error .input-error-message {
    display: inline;
    font-size: 1.2rem;
    color: var(--error-message-color);
    font-style: italic;
  }

  &.error .input {
    border-color: var(--error-message-color);
  }
}
