.vertical-advertise-container {
  width: 16rem;
  height: calc(100vh - var(--navbar-height));
  margin: 2rem;
  transition: 1s;
  overflow: hidden;
  position: sticky;
  top: calc(2rem + var(--navbar-height));

  @media screen and (max-width: 768px) {
    display: none;
  }

  & iframe {
    margin-bottom: 1rem;
  }

  &.hidden-advertise {
    width: 1px;
    opacity: 0;
    margin: 0;
  }
}
