.cookies-consentement-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 4rem;
  background-color: var(--cookies-consentement-container-background-color);
  opacity: 0.85;
  transition: 1.5s;
  box-shadow: var(--box-shadow-02);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.active {
    bottom: 0;
  }

  & .cookies-consentement-left {
    margin-right: 10rem;
  }

  & .cookies-consentement-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: var(--cookies-consentement-header-color);
  }

  & p {
    font-size: 1.4rem;
    color: var(--cookies-consentement-body-color);
  }
  & a {
    font-size: 1.4rem;
    color: var(--cookies-consentement-body-color);
    text-decoration: underline;
  }

  & button {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    padding: 1rem 4rem;
    border: 2px solid var(--cookies-consentement-button-border-color);
    background-color: transparent;
    color: var(--cookies-consentement-button-color);
    box-shadow: 0 0 0 0 #ddd;
    transition: 0.2s;

    &:hover {
      background-color: var(--cookies-consentement-button-background-color-on-hover);
      color: var(--cookies-consentement-button-color-on-hover);
    }
  }
}
