.cookies-consentement-container {
  z-index: 5000000;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 1.5rem 6rem;
  background-color: var(--cookies-consentement-container-background-color);
  transition: bottom 1.5s ease-in-out;
  box-shadow: var(--box-shadow-02);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.active {
    bottom: 0;
  }

  & .cookies-consentement-msg {
    color: var(--cookies-consentement-text-color);
    display: flex;
    align-items: center;
  }

  & .iconify {
    font-size: 2.7rem;
    margin-right: 1.5rem;
  }

  & p {
    font-size: 1.3rem;
  }

  & a {
    font-size: 1.3rem;
    text-decoration: underline;
  }

  & button {
    font-size: 1.4rem;
    cursor: pointer;
    white-space: nowrap;
    padding: 1rem 4rem;
    border: 2px solid transparent;
    background-color: var(--cookies-consentement-button-background-color);
    color: var(--cookies-consentement-button-color);

    &:hover {
      box-shadow: var(--box-shadow-01);
    }
  }
}
