*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1.6em;
  background-color: var(--body-background-color);
}

::-webkit-scrollbar-thumb {
  border: 0.4em solid transparent;
  background-clip: padding-box;
  border-radius: 100rem;
  background-color: var(--scrollbar-color);
}

*:focus,
*:focus-visible {
  outline: none;
  border-color: var(--focus-color) !important;
}

html,
body {
  --transition: all 0.15s ease-in-out;
  --border-radius: 0.3rem;
  --navbar-height: 6.5rem;
  --font-family: 'Poppins', sans-serif;

  @media screen and (max-width: 426px) {
    --font-size: 45%;
  }

  @media screen and (min-width: 427px) and (max-width: 768px) {
    --font-size: 52%;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    --font-size: 58%;
  }

  @media screen and (min-width: 1025px) and (max-width: 1920px) {
    --font-size: 62.5%;
  }

  @media screen and (min-width: 1921px) {
    --font-size: 62.5%;
  }
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--body-color);
  background-color: var(--body-background-color);
  transition: var(--transition);
  transition-property: color, background-color;
}

a {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 1.6rem;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.iconify {
  color: var(--icon-color);
  transition: var(--transition);
  transition-property: color;
  cursor: pointer;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.hide {
  display: none !important;
}

.pre-load {
  background: var(--pre-load-background);
  background-size: 600% 600%;
  animation: pre-load 1s ease infinite;
  animation-direction: reverse;
}

@keyframes pre-load {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
