body.light {
  --primary-color: #078eed;
  --secondary-color: #f57173;
  --focus-color: #0060df;
  --focus-box-shadow-secondary: 0px 0px 3px 2px var(--secondary-color);
  --white-color: #fff;
  --black-color: #222;
  --text-color-01: #1e1e1e;
  --text-color-02: #3b3b3b;
  --text-color-03: #555555;
  --text-color-04: #767676;
  --text-color-05: #d8d8d8;
  --text-color-06: #eeeeee;
  --background-color-01: #ffffff;
  --background-color-02: #fffffc;
  --background-color-03: #fafafa;
  --background-color-04: #eeeeee;
  --background-color-05: #e5e5e5;
  --box-shadow-01: 0 2px 5px 0 rgba(74, 74, 74, 0.2);
  --box-shadow-02: 0 0 5px 2px rgba(74, 74, 74, 0.2);
  --focus-box-shadow: 0 0 0 4px #0074cc26;
  --border-color: #dfe1e5;
  --icon-color: var(--text-color-03);
  --pre-load-background: linear-gradient(270deg, var(--background-color-05), var(--background-color-04), var(--background-color-03));
  --box-shadow-01: 0 2px 5px 0 rgba(74, 74, 74, 0.2);
  --box-shadow-02: 0 0 5px 2px rgba(74, 74, 74, 0.2);

  --body-color: var(--text-color-03);
  --body-background-color: var(--background-color-01);
  --navbar-background-color: var(--background-color-01);
  --navbar-box-shadow: var(--box-shadow-01);
  --navbar-logo-text-color: var(--text-color-03);
  --navbar-logo-text-color-on-hover: var(--primary-color);
  --footer-color: var(--text-color-03);
  --footer-background-color: var(--background-color-03);
  --current-char-to-type-color: var(--white-color);
  --current-char-to-type-background-color: var(--black-color);
  --ok-typed-char-color: var(--text-color-05);
  --nok-typed-char-color: #e06c75;
  --whitespace-color: rgb(221, 221, 221);
  --typed-text-stat-value-color: var(--text-color-03);
  --typed-text-stat-container-border-color: var(--secondary-color);
  --switch-on-color: #1a73e8;
  --switch-off-color: #bdc1c6;
  --dialog-box-shadow: var(--box-shadow-01);
  --slider-color: var(--primary-color);
  --slider-background-color: var(--border-color);
  --check-progress-link-icon-color-on-hover: var(--secondary-color);
  --close-color: #f1505e;
  --dialog-background-color: var(--background-color-02);
  --dialog-backdrop-background-color: var(--background-color-01);
  --select-options-background-color: var(--background-color-02);
  --select-option-background-color-on-hover: var(--background-color-03);
  --select-options-box-shadow: var(--box-shadow-01);
  --text-to-type-reference-color: var(--primary-color);
  --input-color: var(--body-color);
  --input-background-color: var(--background-color-03);
  --select-background-color: var(--background-color-03);
  --select-background-color-on-hover: var(--background-color-04);
  --input-border-color: var(--border-color);
  --input-border-color-on-active: var(--primary-color);
  --error-message-color: #f1505e;
  --change-text-to-type-icon-color-on-hover: var(--white-color);
  --change-text-to-type-icon-background-color-on-hover: var(--secondary-color);
  --code-comment-color: #a0a1a7;
  --code-keyword-color: #a626a4;
  --code-string-color: #50a14f;
  --code-title-color: #c18401;
  --code-attr-color: #986801;
  --typed-key-stats-border-background-color: var(--body-background-color);
  --typed-key-no-data-available-yet: var(--background-color-04);
  --typed-key-avg-wpm-lt-10: rgb(159, 201, 110);
  --typed-key-avg-wpm-lt-20: rgb(151, 189, 143);
  --typed-key-avg-wpm-lt-30: rgb(122, 194, 134);
  --typed-key-avg-wpm-lt-40: rgb(32, 197, 88);
  --typed-key-avg-wpm-lt-50: rgb(14, 218, 97);
  --typed-key-avg-wpm-gte-50: rgb(30, 243, 115);
  --typed-key-avg-wpm-color: rgb(19, 231, 104);
  --typed-key-avg-error-eq-0: rgb(16, 236, 104);
  --typed-key-avg-error-lt-3: #f8969e;
  --typed-key-avg-error-lt-6: #fa7580;
  --typed-key-avg-error-lt-10: #fc6370;
  --typed-key-avg-error-gte-10: #f1505e;
  --delete-progress-data-button-color: #f1505e;
  --delete-progress-data-button-background-color: transparent;
  --delete-progress-data-button-color-on-hover: var(--white-color);
  --delete-progress-data-button-background-color-on-hover: #f1505e;
  --delete-progress-data-button-border-color: #f1505e;
  --delete-progress-data-button-box-shadow: var(--box-shadow-01);
  --typed-key-background-color: var(--background-color-04);
  --selected-key-color: var(--white-color);
  --selected-key-background-color: var(--primary-color);
  --typed-key-with-lt-min-stats-to-display-in-app-storage-background-color: var(--secondary-color);
  --progress-by-key-icon-color: var(--primary-color);
  --text-to-type-background-color: var(--background-color-03);
  --click-to-enable-color: var(--text-color-01);
  --click-to-enable-background-color: var(--background-color-01);
  --training-keys-background-color: #f1f1f1;
  --increase-decrease-font-icon-background-color-on-hover: var(--background-color-04);
  --increase-decrease-value-background-color-on-hover: var(--background-color-04);
  --arrow-background-color: var(--background-color-01);
  --text-to-type-ctrl-label-color: var(--text-color-04);
  --feedback-icon-container-background-color: var(--background-color-04);
  --feedback-icon-background-color-on-hover: var(--background-color-01);
  --side-panel-background-background-color: #eeeeee44;
  --side-panel-background-color: var(--background-color-01);
  --icon-background-color: var(--background-color-04);
  --toast-info-color: #004889;
  --toast-info-background-color: #cce5ff;
  --toast-info-border-color: #b8daff;

  --toast-warn-color: #663c00;
  --toast-warn-background-color: #fff4e5;
  --toast-warn-border-color: #fcead0;

  --toast-error-color: #611a15;
  --toast-error-background-color: #fdecea;
  --toast-error-border-color: #fadad7;
  --button-background-color: var(--background-color-03);
  --button-background-color-on-hover: var(--background-color-04);
  --button-icon-color: var(--body-color);
  --toggle-typing-button-background-color: var(--background-color-03);
  --scrollbar-color: rgba(0, 0, 0, 0.15);
  --cookies-consentement-container-color: #fafafa;
  --cookies-consentement-container-background-color: #006dfc;
}

body.dark {
  --primary-color: #078eed;
  --secondary-color: #f57173;
  --focus-color: #0060df;
  --focus-box-shadow-secondary: 0px 0px 3px 2px var(--secondary-color);
  --white-color: #fff;
  --black-color: #222;
  --text-color-01: #fafafa;
  --text-color-02: #eeeeee;
  --text-color-03: #cecece;
  --text-color-04: #b1b1b1;
  --text-color-05: #a0a0a0;
  --text-color-06: #747070;
  --background-color-01: #181a1f;
  --background-color-02: #21252b;
  --background-color-03: #282c34;
  --background-color-04: #2c313a;
  --background-color-05: #353b46;
  --box-shadow-01: 0 -2px 5px rgba(0, 0, 0, 1);
  --box-shadow-02: 0 -2px 10px rgba(0, 0, 0, 1);
  --focus-box-shadow: 0 0 0 4px #0074cc26;
  --border-color: #353b46;
  --focus-border-color: #6bbbf7;
  --icon-color: var(--text-color-03);
  --pre-load-background: linear-gradient(270deg, var(--background-color-05), var(--background-color-04), var(--background-color-03));
  --box-shadow-01: 0 -2px 5px rgba(0, 0, 0, 1);
  --box-shadow-02: 0 -2px 10px rgba(0, 0, 0, 1);

  --body-color: var(--text-color-03);
  --body-background-color: var(--background-color-01);
  --navbar-background-color: var(--background-color-01);
  --navbar-box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  --navbar-logo-text-color: var(--text-color-03);
  --navbar-logo-text-color-on-hover: var(--primary-color);
  --footer-color: var(--text-color-03);
  --footer-background-color: var(--background-color-03);
  --current-char-to-type-color: var(--black-color);
  --current-char-to-type-background-color: var(--white-color);
  --ok-typed-char-color: var(--text-color-06);
  --nok-typed-char-color: #e06c75;
  --whitespace-color: #383838;
  --typed-text-stat-value-color: var(--text-color-03);
  --typed-text-stat-container-border-color: var(--secondary-color);
  --switch-on-color: #1a73e8;
  --switch-off-color: #d3d3d3;
  --dialog-box-shadow: var(--box-shadow-01);
  --dialog-background-color: var(--background-color-01);
  --slider-color: var(--primary-color);
  --slider-background-color: var(--border-color);
  --check-progress-link-icon-color-on-hover: var(--secondary-color);
  --close-color: #f1505e;
  --dialog-background-color: var(--background-color-02);
  --dialog-backdrop-background-color: var(--background-color-01);
  --select-options-background-color: var(--background-color-02);
  --select-option-background-color-on-hover: var(--background-color-03);
  --select-options-box-shadow: var(--box-shadow-01);
  --text-to-type-reference-color: var(--primary-color);
  --input-color: var(--body-color);
  --input-background-color: var(--background-color-03);
  --select-background-color: var(--background-color-03);
  --select-background-color-on-hover: var(--background-color-04);
  --input-border-color: var(--border-color);
  --input-border-color-on-active: var(--primary-color);
  --error-message-color: #f1505e;
  --change-text-to-type-icon-color-on-hover: var(--white-color);
  --change-text-to-type-icon-background-color-on-hover: var(--secondary-color);
  --code-comment-color: #5c6370;
  --code-keyword-color: #c678dd;
  --code-string-color: #98c379;
  --code-title-color: #e5c07b;
  --code-attr-color: #d19a66;
  --typed-key-stats-border-background-color: var(--body-background-color);
  --typed-key-no-data-available-yet: var(--background-color-03);
  --typed-key-avg-wpm-lt-10: rgb(159, 201, 110);
  --typed-key-avg-wpm-lt-20: rgb(151, 189, 143);
  --typed-key-avg-wpm-lt-30: rgb(122, 194, 134);
  --typed-key-avg-wpm-lt-40: rgb(32, 197, 88);
  --typed-key-avg-wpm-lt-50: rgb(14, 218, 97);
  --typed-key-avg-wpm-gte-50: rgb(30, 243, 115);
  --typed-key-avg-wpm-color: rgb(30, 243, 115);
  --typed-key-avg-error-eq-0: rgb(14, 218, 97);
  --typed-key-avg-error-lt-3: #f8969e;
  --typed-key-avg-error-lt-6: #fa7580;
  --typed-key-avg-error-lt-10: #fc6370;
  --typed-key-avg-error-gte-10: #f1505e;
  --delete-progress-data-button-color: #f1505e;
  --delete-progress-data-button-background-color: transparent;
  --delete-progress-data-button-color-on-hover: var(--white-color);
  --delete-progress-data-button-background-color-on-hover: #f1505e;
  --delete-progress-data-button-border-color: #f1505e;
  --delete-progress-data-button-box-shadow: var(--box-shadow-01);
  --typed-key-background-color: var(--background-color-04);
  --selected-key-color: var(--white-color);
  --selected-key-background-color: var(--primary-color);
  --typed-key-with-lt-min-stats-to-display-in-app-storage-background-color: var(--secondary-color);
  --progress-by-key-icon-color: var(--primary-color);
  --text-to-type-background-color: var(--background-color-02);
  --click-to-enable-color: var(--text-color-01);
  --click-to-enable-background-color: var(--background-color-01);
  --training-keys-background-color: var(--background-color-04);
  --increase-decrease-font-icon-background-color-on-hover: var(--background-color-04);
  --increase-decrease-value-background-color-on-hover: var(--background-color-04);
  --arrow-background-color: var(--background-color-02);
  --text-to-type-ctrl-label-color: var(--text-color-04);
  --feedback-icon-container-background-color: var(--background-color-04);
  --feedback-icon-background-color-on-hover: var(--background-color-01);
  --side-panel-background-background-color: #3b3b3b44;
  --side-panel-background-color: var(--background-color-01);
  --icon-background-color: var(--background-color-04);
  --toast-info-color: #a6d5fa;
  --toast-info-background-color: #063f75;
  --toast-info-border-color: #030e18;
  --toast-warn-color: #ffd599;
  --toast-warn-background-color: #190f00;
  --toast-warn-border-color: #190f00;
  --toast-error-color: #fab3ae;
  --toast-error-background-color: #180605;
  --toast-error-border-color: #180605;
  --button-background-color: var(--background-color-03);
  --button-background-color-on-hover: var(--background-color-04);
  --button-icon-color: var(--body-color);
  --toggle-typing-button-background-color: var(--background-color-03);
  --scrollbar-color: #727272;
  --cookies-consentement-container-color: #fafafa;
  --cookies-consentement-container-background-color: #006dfc;
}
