.progress-container {
  padding-top: calc(4rem + var(--navbar-height));
  position: relative;
  max-width: 100rem;
  margin: 0 auto;
}
.progress-graph {
  &:first-child {
    margin-top: 0rem;
  }

  & .not-enough-samples {
    padding: 4rem 2rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.3rem;
    text-align: center;
  }

  & .chartjs-graph-container {
    height: 40rem;
  }

  & .progress-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  & .progress-name {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  & .progress-ctrl {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  & .progress-by-key {
    margin-left: 1rem;
  }

  & .progress-slider {
    cursor: pointer;
    display: flex;
    align-items: center;
    float: right;

    & .label {
      margin-right: 1.5rem;
      font-size: 1.4rem;
      font-weight: 700;
    }

    & .progress-smoothness-slider {
      flex: 1;
    }
  }
}

.typed-keys-progress {
  margin-bottom: 2.5rem;
}

.delete-progress-data-button-container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;

  & button {
    padding: 0.9rem 5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--delete-progress-data-button-color);
    background-color: var(--delete-progress-data-button-background-color);
    border: 1px solid var(--delete-progress-data-button-border-color);
    border-radius: 100rem;
    transition: var(--transition);
    transition-property: color, background-color, border-color, box-shadow;
    font-family: 'Poppins', sans-serif;

    &:hover {
      color: var(--delete-progress-data-button-color-on-hover);
      background-color: var(--delete-progress-data-button-background-color-on-hover);
      box-shadow: var(--delete-progress-data-button-box-shadow);
    }

    &:focus {
      border-color: initial !important;
      box-shadow: var(--focus-box-shadow-secondary);
    }
  }
}

@media screen and (max-width: 426px) {
  .progress-by-key {
    display: none !important;
  }

  .slider-container {
    width: 10rem !important;
  }
}

.typing-progress-advertise-container {
  display: flex;
  margin-bottom: 3rem;

  &.ad1 {
    margin-top: 5rem;
  }

  & iframe {
    margin: 0 auto;
  }
}
