.progress-page-container {
  padding-top: var(--page-padding-top);
  position: relative;
  width: var(--page-width);
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}
.progress-graph {
  &:first-child {
    margin-top: 0rem;
  }

  & .not-enough-samples {
    padding: 4rem 2rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.3rem;
    text-align: center;
  }

  & .chartjs-graph-container {
    height: 40rem;
    position: relative;

    &.empty:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: 'No data available yet';
      font-size: 1.4rem;
      font-weight: bold;
      font-style: italic;
      color: var(--body-color);
    }
  }

  & .progress-header {
    display: flex;
    align-items: center;
    margin-bottom: 3.5rem;
  }

  & .progress-name {
    font-size: 3.4rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }

  & .progress-ctrl {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  & .progress-by-key {
    margin-left: 2rem;
    margin-top: 0.7rem;
  }
}

.error-progress-graph {
  margin-top: 5rem;
}

.typed-keys-progress {
  margin-bottom: 5rem;
}

.delete-progress-data-button-container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;

  & button {
    padding: 0.9rem 5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--delete-progress-data-button-color);
    background-color: var(--delete-progress-data-button-background-color);
    border: 1px solid var(--delete-progress-data-button-border-color);
    border-radius: 100rem;
    transition: var(--transition);
    transition-property: color, background-color, border-color, box-shadow;
    font-family: 'Poppins', sans-serif;

    &:hover {
      color: var(--delete-progress-data-button-color-on-hover);
      background-color: var(--delete-progress-data-button-background-color-on-hover);
      box-shadow: var(--delete-progress-data-button-box-shadow);
    }

    &:focus {
      border-color: initial !important;
      box-shadow: var(--focus-box-shadow-secondary);
    }
  }
}

@media screen and (max-width: 426px) {
  .progress-by-key {
    display: none !important;
  }

  .slider-container {
    width: 10rem !important;
  }
}
