.main-with-ads-container {
  padding-top: var(--navbar-height);
  width: 100%;
  max-width: 200rem;
  display: flex;
  margin: 0 auto;

  @media screen and (min-width: 1921px) {
    width: 80%;
  }
}

.advertise-container {
  width: 16rem;
  height: calc(100vh - var(--navbar-height));
  margin: 2rem;
  // position: sticky;
  // top: calc(2rem + var(--navbar-height));

  @media screen and (max-width: 768px) {
    display: none;
  }

  & iframe {
    margin-bottom: 1rem;
    // border-radius: 0.5rem;
    // box-shadow: var(--box-shadow-02);
    // border: 1px solid var(--border-color);
  }
}

main {
  flex: 1;
  min-width: 0;
  margin: 0 3rem;
}
