.main-with-ads-container {
  padding-top: var(--navbar-height);
  display: flex;
  width: calc(100vw - 2rem); // TODO: why we need to remove 2rem!!
}

.ads-container {
  display: flex;
  width: 25rem;
}

.main-container {
  width: 100%;
}

.description-container {
  margin: var(--main-margin);
  margin-bottom: 8rem;
  & h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 2.8rem;
    margin-bottom: 2rem;
    position: relative;
    color: var(--how-to-use-this-application-header-color);

    &::before {
      content: '';
      position: absolute;
      bottom: -0.2rem;
      left: 0;
      width: 7rem;
      height: 0.45rem;
      background-color: var(--secondary-color);
      border-radius: 100rem;
    }
  }

  & p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.7;
    margin-bottom: 1.3rem;
    color: var(--how-to-use-this-application-body-color);
  }

  & a {
    font-weight: bold;
  }

  & ul {
    font-size: 1.6rem;
    list-style-type: square;
    list-style-position: inside;
    margin-left: 2rem;
  }

  & li {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.7;
    color: var(--text-color-04);
  }
}
