.app-settings-container {
  border-radius: 0.3rem;
  padding: 0.5rem 0;
  min-width: 30rem;
  box-shadow: var(--app-settings-box-shadow);
  background-color: var(--app-settings-background-color);

  & .app-setting-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & span {
    font-size: 1.32rem;
  }
}
