*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @include hide-scroll-bar;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--body-color);
  background-color: var(--body-background-color);
  transition: var(--transition);
  transition-property: color, background-color;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding-top: var(--navbar-height);
  width: var(--main-width);
  max-width: var(--main-max-width);
  margin: 0 auto;
  flex: 1;
}

a {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 1.6rem;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.iconify {
  color: var(--icon-color);
  transition: var(--transition);
  transition-property: color;
  cursor: pointer;
}

.primary-color {
  color: var(--primary-color);
}

.hide {
  display: none;
}

.pre-load {
  background: var(--pre-load-background);
  background-size: 600% 600%;
  animation: pre-load 1s ease infinite;
  animation-direction: reverse;
}

@keyframes pre-load {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
