.progress-container {
  padding-top: calc(3rem + var(--navbar-height));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;

  & .not-enough-samples {
    padding: 4rem 2rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.3rem;
  }

  & .progress-smoothness {
    width: 80%;
    margin: 6rem auto 0;
    display: flex;
    align-items: center;

    & span {
      font-size: 1.4rem;
      margin-right: 3rem;
    }

    & .progress-smoothness-slider {
      flex: 1;
    }
  }
}
