.typed-text-stats-container {
  margin: 10rem auto 0;
  display: flex;
  justify-content: center;

  & .typed-text-stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--typed-text-stat-container-border-color);
    width: 12rem;
    height: 12rem;
    border-radius: 100rem;
    margin: 1rem 1.5rem;
  }

  & .typed-text-stat-value {
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: bold;
    color: var(--typed-text-stat-value-color);
  }

  & .typed-text-stat-label {
    font-size: 1.5rem;
  }

  & .iconify {
    font-size: 6rem;
    transition: var(--transition);
    transition-property: color;

    &:hover {
      color: var(--check-progress-link-icon-color-on-hover);
    }
  }
}
