.toast-container {
  z-index: 100000;
  position: fixed;
  top: calc(var(--navbar-height) + 1.5rem);
  right: -30rem;
  width: 30rem;
  border-radius: 0.3rem;
  transition: right 0.5s ease-in;
  padding: 1.5rem;
  font-size: 1.5rem;

  &.info {
    background-color: var(--toast-info-background-color);
    color: var(--toast-info-color);
    border: 1px solid var(--toast-info-border-color);
  }

  &.warn {
    background-color: var(--toast-warn-background-color);
    color: var(--toast-warn-color);
    border: 1px solid var(--toast-warn-border-color);
  }

  &.error {
    background-color: var(--toast-error-background-color);
    color: var(--toast-error-color);
    border: 1px solid var(--toast-error-border-color);
  }
}
