.dialog-background {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  position: fixed;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 0.3rem;
  box-shadow: var(--dialog-box-shadow);
  min-width: var(--dialog-min-width, 30rem);
  width: var(--dialog-width, 40%);
  max-width: var(--dialog-max-width, 100rem);
  border-radius: 0.5rem;

  &::backdrop {
    background-color: #181a1fc4;
  }

  & .dialog-container {
    padding: 3rem;
    background-color: var(--dialog-background-color);
    border-radius: 0.3rem;
  }

  & .dialog-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    & span {
      font-size: 1.85rem;
      font-weight: bold;
      color: var(--body-color);
    }

    & .close {
      font-size: 3rem;
      transition: var(--transition);
      transition-property: color;

      &:hover {
        color: var(--close-color);
      }
    }
  }

  & .dialog-body {
    padding: 3rem 0;
    max-height: calc(100vh - 30rem);
    overflow-y: scroll;
  }

  & .dialog-footer {
    border-top: 1px solid var(--border-color);
    padding-top: 2rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1024px) {
  .dialog {
    --dialog-width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .dialog {
    --dialog-width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  .dialog {
    --dialog-width: 80%;
  }
}
