.typed-text-stats-container {
  margin: 3rem auto 0;
  display: flex;
  justify-content: center;

  & .typed-text-stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--typed-text-stat-container-border-color);
    width: 12rem;
    height: 12rem;
    border-radius: 100rem;
    margin: 1rem 1rem;
  }

  & .typed-text-stat-value {
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: bold;
    color: var(--typed-text-stat-value-color);
  }

  & .typed-text-stat-label {
    font-size: 1.5rem;
  }

  & .check-progress-link .iconify {
    font-size: 6rem;
    transition: var(--transition);
    transition-property: color;

    &:hover {
      color: var(--check-progress-link-icon-color-on-hover);
    }
  }

  & .change-text-to-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & .iconify-container {
      height: 100%;
      width: 100%;
      transition: var(--transition);
      transition-property: color, background-color;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover .iconify {
        color: var(--secondary-color);
      }
    }

    & .iconify {
      height: 75%;
      width: 75%;
      transition: var(--transition);
      transition-property: color, background-color;
    }

    & .next {
      border-bottom-right-radius: 100rem;
      border-top-right-radius: 100rem;
    }

    & .previous {
      border-bottom-left-radius: 100rem;
      border-top-left-radius: 100rem;
    }

    &:focus {
      border-color: var(--secondary-color) !important;
      box-shadow: var(--focus-box-shadow-secondary);
    }
  }
}

.typed-keys-stats-container {
  max-width: 82rem;
  margin: 3rem auto 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2px;

  & .typed-key {
    color: black;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    font-family: 'Roboto Mono';
    font-weight: bold;
    cursor: pointer;

    &.no-data-available-yet {
      color: var(--body-color);
      background-color: var(--typed-key-no-data-available-yet);
    }
    &.avg-wpm-lt-10 {
      background-color: var(--typed-key-avg-wpm-lt-10);
    }
    &.avg-wpm-lt-20 {
      background-color: var(--typed-key-avg-wpm-lt-20);
    }
    &.avg-wpm-lt-30 {
      background-color: var(--typed-key-avg-wpm-lt-30);
    }
    &.avg-wpm-lt-40 {
      background-color: var(--typed-key-avg-wpm-lt-40);
    }
    &.avg-wpm-lt-50 {
      background-color: var(--typed-key-avg-wpm-lt-50);
    }
    &.avg-wpm-gte-50 {
      background-color: var(--typed-key-avg-wpm-gte-50);
    }
  }
}

@media screen and (max-width: 1024px) {
  .typed-text-stat-container {
    width: 10rem !important;
    height: 10rem !important;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 426px) {
  .typed-text-stat-container {
    width: 9rem !important;
    height: 9rem !important;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .typed-text-stat-container {
    width: 8rem !important;
    height: 8rem !important;
    margin: 0.5rem;
  }

  .typed-text-stat-label {
    font-size: 1.2rem !important;
  }
}
