.ads-blocker-message-container {
  z-index: 300000;
  position: fixed;
  top: calc(2rem + var(--navbar-height));
  width: 55rem;
  right: -100%;
  padding: 4rem;
  background-color: var(--ads-blocker-message-container-background-color);
  transition: 1.5s;
  box-shadow: var(--box-shadow-02);
  border-radius: 0.3rem;

  &.active {
    right: 2rem;
  }

  & .ads-blocker-message-left {
    margin-right: 10rem;
  }

  & .ads-blocker-message-header {
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    color: var(--ads-blocker-message-header-color);
  }

  & p {
    font-size: 1.5rem;
    color: var(--ads-blocker-message-body-color);
  }
}
