nav {
  background-color: var(--navbar-background-color);
  z-index: 999;
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
  transition-property: color, background-color, box-shadow;
  &.shadow {
    box-shadow: var(--navbar-box-shadow);
  }
}

nav .left {
  display: flex;
  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  & img {
    height: 2.5rem;
  }
  & span {
    font-size: 1.7rem;
    font-weight: bold;
    padding-left: 1rem;
    color: var(--navbar-logo-text-color);
    transition: var(--transition);
    transition-property: color;
  }
  &:hover span {
    color: var(--navbar-logo-text-color-on-hover);
    transition: var(--transition);
    transition-property: color;
  }
}

nav .right {
  z-index: 999;
  position: relative;
  display: flex;
  align-items: center;
  & .iconify {
    font-size: 2.75rem;
    margin-left: 1.5rem;
  }

  & .app-settings-drop-down {
    z-index: 999;
    position: absolute;
    top: calc(100% + 2rem);
    right: 0;
  }

  & .select {
    margin-right: 1.5rem;
  }
}
