.text-to-type-page {
  padding-bottom: 5rem;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-to-type {
  width: 80rem;
  margin: 4rem auto 0;
  white-space: pre-wrap;

  & span {
    font-family: 'Roboto Mono';
    font-size: 2.2rem;
  }

  & span.whitespace {
    padding: 0 0.2rem;
    color: var(--whitespace-color);
  }

  & span.NOK {
    color: var(--nok-typed-char-color);
  }

  & span.OK {
    color: var(--ok-typed-char-color);
  }

  &.blink span.cursor {
    color: var(--current-char-to-type-color);
    background-color: var(--current-char-to-type-background-color);
  }
}

.text-to-type-reference {
  width: 80rem;
  margin: 2rem auto 0;
  font-size: 1.6rem;
  float: right;
  color: var(--text-to-type-reference-color);
  font-style: italic;
  font-weight: bold;

  & span {
    float: right;
  }
}
