.typed-text-stats-container {
  margin: 8rem auto 0;
  display: flex;
  justify-content: center;

  & .typed-text-stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--typed-text-stat-container-border-color);
    width: 12rem;
    height: 12rem;
    border-radius: 100rem;
    margin: 1rem 1rem;
  }

  & .typed-text-stat-value {
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: bold;
    color: var(--typed-text-stat-value-color);
  }

  & .typed-text-stat-label {
    font-size: 1.5rem;
  }

  & .check-progress-link .iconify {
    font-size: 6rem;
    transition: var(--transition);
    transition-property: color;

    &:hover {
      color: var(--check-progress-link-icon-color-on-hover);
    }
  }

  & .change-text-to-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & .iconify-container {
      height: 100%;
      width: 100%;
      transition: var(--transition);
      transition-property: color, background-color;
      cursor: pointer;

      &:hover {
        background-color: var(--change-text-to-type-icon-background-color-on-hover);

        & .iconify {
          color: var(--change-text-to-type-icon-color-on-hover);
        }
      }
    }

    & .iconify {
      height: 100%;
      width: 100%;
      transition: var(--transition);
      transition-property: color, background-color;
    }

    & .next {
      border-bottom-right-radius: 100rem;
      border-top-right-radius: 100rem;
    }

    & .previous {
      border-bottom-left-radius: 100rem;
      border-top-left-radius: 100rem;
    }
  }
}
