footer {
  color: var(--footer-color);
  background-color: var(--footer-background-color);
  transition: var(--transition);
  transition-property: color, background-color;
  margin-top: var(--footer-margin-top);
  padding: var(--footer-padding);

  & a,
  & p {
    font-size: 1.35rem;
  }

  & p {
    margin-bottom: 0;
  }

  & .copyright {
    margin-top: 3rem;
  }

  @media screen and (max-width: 426px) {
    --footer-margin-top: 4rem;
    --footer-padding: 2rem 3rem;
    --footer-icon-font-size: 2rem;
  }

  @media screen and (min-width: 427px) and (max-width: 768px) {
    --footer-margin-top: 6rem;
    --footer-padding: 2.5rem 5rem;
    --footer-icon-font-size: 2rem;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    --footer-margin-top: 12rem;
    --footer-padding: 3rem 8rem;
    --footer-icon-font-size: 2.5rem;
  }

  @media screen and (min-width: 1025px) and (max-width: 1920px) {
    --footer-margin-top: 12rem;
    --footer-padding: 3rem 8rem;
    --footer-icon-font-size: 2.5rem;
  }

  @media screen and (min-width: 1921px) {
    --footer-margin-top: 16rem;
    --footer-padding: 3rem 8rem;
    --footer-icon-font-size: 2.5rem;
  }
}
