.dialog {
  position: fixed;
  top: 8rem;
  border: none;
  margin: 0 auto;
  border-radius: 0.3rem;
  box-shadow: var(--dialog-box-shadow);
  min-width: var(--dialog-min-width, 30rem);
  width: var(--dialog-width, 40%);
  max-width: var(--dialog-max-width, 100rem);

  &::backdrop {
    background-color: #181a1fc4;
  }

  & .dialog-container {
    padding: 2rem;
    background-color: var(--dialog-background-color);
    max-height: calc(100vh - 16rem);
    overflow-y: scroll;
  }

  & .dialog-header {
    padding: 1rem 0 1.5rem;
    margin: 0 2rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    & span {
      font-size: 1.85rem;
      font-weight: bold;
      color: var(--body-color);
    }

    & .close {
      font-size: 3rem;
      transition: var(--transition);
      transition-property: color;

      &:hover {
        color: var(--close-color);
      }
    }
  }

  & .dialog-body {
    padding: 4rem 2rem 2rem;
  }
}
