.how-we-use-this-application-container {
  & h1 {
    font-size: 5rem;
    font-weight: 200;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;

    &::before {
      content: '';
      width: 1rem;
      height: 6rem;
      background-color: var(--secondary-color);
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: -1.4rem;
      border-radius: 100rem;
      display: none;
    }
  }

  & p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.7;
    margin-bottom: 1.3rem;
    color: var(--text-color-04);
  }

  & a {
    font-weight: bold;
  }

  & ul {
    font-size: 1.6rem;
    list-style-type: square;
    list-style-position: inside;
    margin-left: 2rem;
  }

  & li {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.7;
    color: var(--text-color-04);
  }
}
