.app-settings-dialog {
  --dialog-min-width: 60rem;
  --input-width: 10rem;

  & .app-setting {
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      padding-bottom: 0;
    }

    & span {
      font-size: 1.5rem;
      color: var(--body-color);
    }
  }

  & .app-settings-dialog-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > * {
      margin-left: 1.2rem;
    }
  }
}
